html, body {
    min-height: 100% !important;
    height: 100%;
}

.section-container {
	margin-top:0 !important;
	margin-bottom: 0 !important;
	height: 100%;
}

.section-login {
	background: #fff;
	height: 100%;
}

.section-login {
	    box-shadow: 0 1px 3px rgba(0,0,0,.13) inset;
	        position: relative;
}

.bg-section {
	background-size: cover;	
	position: relative;
}
.bg-shadow {
	background-color:rgba(0,0,0,.8) !important;
	position: absolute;
	top:0;
	width:100%;
	height: 100%;
	left:0;
}

#login {
	margin-top: 25%;
}

.login form{
	box-shadow: none;
	text-align: center;
}

.login form input {
	max-width: 200px;
	max-height: 35px;
	font-size: 15px !important;
	margin:0 auto;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 0;
	border:1px solid #333;
	margin-bottom:5px !important;
}


.login .user-submit {
	float:none !important;
	width:100%;
	color:#ddd;
	background: #333;
	margin-left: -6px;
	border-radius: 0;
	border:none;
	text-shadow: none;	
	font-weight: bold;
	padding-top: 20px;
	margin-top:10px;
}

p.submit {
	text-align: center !important;
}

.text-center {
	text-align: center;
}

/* Placeholder style */
.login form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  text-align: center;
}
.login form input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
}
.login form input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
}
.login form input:-moz-placeholder { /* Firefox 18- */
  color: #666;
}

.login #nav {
	margin:0;
	text-align: center;
}

.logo-center {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(50%, -50%);
	width:250px;
	margin-left: -250px;
}

.bottom-class {
	position: absolute;
	bottom:36px;
	margin:0 auto;
	width: 90%;
	text-align: center;
	color:#666;
}

.bottom-class a {
	font-weight: bold;
	color:#333;
}